section[page=reset-pwd]{
    padding-top: 3rem;
}
.reset-pwd-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.reset-pwd-body h2{
    font-size: 2rem;
    font-weight: 500;
}
.reset-pwd-body p{
    font-size: 1.25rem;
    font-weight: 200;
    color: #636e72;
}
.reset-pwd-body .input-item{
    padding-top: 1.25rem;
    font-size: 1.25rem;
}
.reset-pwd-body .input-item input{
    width: 50% !important;
    font-size: 1.25rem;
}
.footer{
    padding-top: 1rem;
}
.footer button{
    padding: 0.5rem 1.75rem;
    border: none;
    background-color: #f0932b;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}